# Assignment_WebScraping BeautifulSoup Evaluation

# 1) Write a python program to display IMDB’s Top rated 100 Indian movies’ data https://www.imdb.com/list/ls056092300/ (i.e. name, rating, year ofrelease) and make data frame.

In [78]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')

In [79]:
def movies(url):
    response=requests.get(url)
    
    if response.status_code==200:
        print('Successful response\n','*'*25)
        
        msoup=bs(response.content)
        name=[]
        for i in msoup.find_all('h3',class_='lister-item-header'):
            ii=i.text.split('\n')[2]
            name.append(ii)
        
        rating=[]
        for j in msoup.find_all('div',class_="ipl-rating-star small"):
            jj=j.text.strip('\n')
            rating.append(jj)
    
        year=[]
        for k in msoup.find_all('span',class_="lister-item-year text-muted unbold"):
                kk=k.text.strip()
                res=re.findall(r'\d{4}', kk)
                year.append(res)
        if len(name)==len(rating)==len(year):
            print('Data is equal in all columns\n','*'*25)
            names=pd.DataFrame(name,columns=['Indian movie title'])
            ratings=pd.DataFrame(rating,columns=['Rating'])
            years=pd.DataFrame(year,columns=['Year of Release'])
            
            Indian_movies=pd.concat([names,ratings,years], axis=1)
            print('IMDB’s Top rated 100 Indian movies: \n')
            display(Indian_movies)
        else:
            print('Data is NOT equal in all columns')
    
    
    else:
        print('html response not successful')

In [68]:
movies(r'https://www.imdb.com/list/ls056092300/')

Successful response
 *************************
Data is equal in all columns
 *************************
IMDB’s Top rated 100 Indian movies:

                   Indian movie title Rating Year of Release
0                     Ship of Theseus      8            2012
1                              Iruvar    8.4            1997
2                     Kaagaz Ke Phool    7.8            1959
3   Lagaan: Once Upon a Time in India    8.1            2001
4                     Pather Panchali    8.2            1955
..                                ...    ...             ...
95                        Apur Sansar    8.4            1959
96                        Kanchivaram    8.2            2008
97                    Monsoon Wedding    7.3            2001
98                              Black    8.1            2005
99                            Deewaar      8            1975

[100 rows x 3 columns]

# 2) Write a python program to scrape product name, price and discounts from https://peachmode.com/search?q=bags

In [80]:
def peach(url):
    pdt=requests.get(r'https://peachmode.com/search?q=bags')
    if pdt.status_code==200:
        print('HTML response successful')
        psoup=bs(pdt.content,'html.parser')
        
        pdtname=[]
        pdtprice=[]
        pdtdisc=[]
        
        pdtdetails=psoup.find_all('div',class_='st-product st-col-xs-6 st-col-sm-3 st-col-md-3')
        if pdtdetails:
            for i in pdtdetails:
                ii=i.find('div',class_='product-title').find('a').find('span').text.strip()
                pdtname.append(ii)

                jj=i.find('span', class_='discounted_price').text.strip()
                pdtprice.append(jj)

        return pdtname, pdtprice
 

peach('https://peachmode.com/search?q=bags')

HTML response successful

(['${ item.title }$'],
 ['${currency }$${ numberWithComa(item.activeDiscountedPrice) }$'])

Data is getting scraped only in the form of placeholders.

# 3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:


a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [81]:
def odi1(url):
    odi1=requests.get(url)
    if odi1.status_code==200:
        print('Successful html response\n','*'*35)
        osoup1=bs(odi1.content,'html.parser')
        table_container1 = osoup1.find('div', class_='container')
        table_container2=osoup1.find('section', class_="container w-full")

        if table_container1 or table_container2:
            print('table_container found\n')
        
            table1=table_container1('div',class_='si-table-row')
            table2=table_container2('div',class_='si-table-row')
    
            if table1 or table2:
                print('table found')
    
        
            else:
                print('table NOT found')
        else:
            print('table_container NOT found')

odi1('https://www.icc-cricket.com/rankings/team-rankings/mens/odi')

Successful html response
 ***********************************
table_container found

table NOT found

In [26]:
table_container1.text

"Exclusive content, priority ticket access and personalised news. Never miss a moment!Sign inHomeRankingsFixtures & ResultsNewsEventsMen's T20 World CupICC Cricket World Cup League 2Cricket World Cup Challenge League Play-off 2024U19 Cricket World CupICC Women's ChampionshipWorld Test ChampionshipCricket world cupAwardsvideosTeams100% CricketCrictosHall of FameCriiioAbout ICCMedia ReleasesPhotosCommercial OpportunitiesTravelENGLISHMatchesRankingsNewsAwardsTravelvideosSearchaccountlogout"

In [27]:
table_container2.text

"Jump toMen's Test Team RankingsMen's ODI Team RankingsMen's T20I Team RankingsMen's Test Batting RankingsMen's ODI Batting RankingsMen's T20I Batting RankingsMen's Test Bowling RankingsMen's ODI Bowling RankingsMen's T20I Bowling RankingsMen's Test All-Rounder RankingsMen's ODI All-Rounder RankingsMen's T20I All-Rounder RankingsWomen's T20I Team RankingsWomen's ODI Team RankingsWomen's T20I Batting RankingsWomen's ODI Batting RankingsWomens T20I Bowling RankingsWomens ODI Bowling RankingsWomen's T20I ALL-Rounder RankingsWomen's ODI ALL-Rounder RankingsICC World RankingsMen's Test Team RankingsMen's ODI Team RankingsMen's T20I Team RankingsMen's Test Batting RankingsMen's ODI Batting RankingsMen's T20I Batting RankingsMen's Test Bowling RankingsMen's ODI Bowling RankingsMen's T20I Bowling RankingsMen's Test All-Rounder RankingsMen's ODI All-Rounder RankingsMen's T20I All-Rounder RankingsWomen's T20I Team RankingsWomen's ODI Team RankingsWomen's T20I Batting RankingsWomen's ODI Batting RankingsWomens T20I Bowling RankingsWomens ODI Bowling RankingsWomen's T20I ALL-Rounder RankingsWomen's ODI ALL-Rounder Rankings"

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [82]:
def odi2(url):
    odi2=requests.get(url)
    if odi2.status_code==200:
        print('Successful html response\n','*'*35)
        osoup2=bs(odi2.content,'html.parser')
        table_container1 = osoup2.find('div', class_='container')
        table_container2=osoup2.find('section', class_="container w-full")

        if table_container1 or table_container2:
            print('table_container found\n')
        
            table1=table_container1('div',class_='si-table-row')
            table2=table_container2('div',class_='si-table-row')
    
            if table1 or table2:
                print('table found')
    
        
            else:
                print('table NOT found')
        else:
            print('table_container NOT found')
    else:
        print('html response unsuccessful\n')

odi1('https://www.icc-cricket.com/rankings/batting/mens/odi')

Successful html response
 ***********************************
table_container found

table NOT found

c) Top 10 ODI bowlers along with the records of their team and rating.

In [83]:
def odi3(url):
    odi3=requests.get(url)
    if odi3.status_code==200:
        print('Successful html response\n','*'*35)
        osoup3=bs(odi3.content,'html.parser')
        table_container1 = osoup3.find('div', class_='container')
        table_container2=osoup3.find('section', class_="container w-full")

        if table_container1 or table_container2:
            print('table_container found\n')
        
            table1=table_container1('div',class_='si-table-row')
            table2=table_container2('div',class_='si-table-row')
    
            if table1 or table2:
                print('table found')
    
        
            else:
                print('table NOT found')
        else:
            print('table_container NOT found')
            
    else:
        print('html response unsuccessful\n')

odi1('https://www.icc-cricket.com/rankings/bowling/mens/odi')

Successful html response
 ***********************************
table_container found

table NOT found

# 4) Write a python program to scrape details of all the posts from https://www.patreon.com/coreyms .
Scrape the heading, date, content and the likes for the video from the link for the youtube video from the post.

In [93]:
def patreon(url):
    post=requests.get(url)
    if post.status_code==200:
        print('Successful html response\n','*'*35)
        sp=bs(post.content,'html.parser')
        postname=sp.find('p')
        if postname:
            print('Name of post extracted\n','*'*35,'\n',postname.text)
        else:
            print('Name of post NOT extracted')
            
        
        
        
patreon('https://www.patreon.com/coreyms')

Successful html response
 ***********************************
Name of post extracted
 ***********************************
 creating Programming Tutorials

In [98]:
def patreon(url):
    post=requests.get(url)
    if post.status_code==200:
        print('Successful html response\n','*'*35)
        sp=bs(post.content,'html.parser')
        postname=sp.find('a',href='/posts/how-to-use-as-83336794')
        if postname:
            print('Name of post extracted\n','*'*35,'\n',postname.text)
        else:
            print('Name of post NOT extracted')
            
        
        
        
patreon('https://www.patreon.com/coreyms')

Successful html response
 ***********************************
Name of post NOT extracted

In [94]:
def patreon(url):
    post=requests.get(url)
    if post.status_code==200:
        print('Successful html response\n','*'*35)
        sp=bs(post.content,'html.parser')
        postname=sp.find('div')
        if postname:
            print('Name of post extracted\n','*'*35,'\n',postname.text)
        else:
            print('Name of post NOT extracted')
            
        
        
        
patreon('https://www.patreon.com/coreyms')

Successful html response
 ***********************************
Name of post extracted
 ***********************************
 Skip navigationPatreon logoLog inPatreon logoCreate on PatreonLog inCorey Schafercreating Programming Tutorials433 members234 postsJoin for freeHomeAboutChoose your membershipRecommendedWill add your name to my website$1   / monthJoinI appreciate any support! Anyone who is a contributor through Patreon will have the option to be added to my Contributors page on my personal website (coreyms.com) You might likeEarly Access to YouTube Videos$3   / monthJoinAll of my content is available for free on YouTube, but if you support at this tier then I will give you early access to videos days before they go public. I will post links to Patreon and YouTube when an early access video is available. You will also have access to all of the rewards for my lower tiers. In total, you will receive:Early Access to Videos Be added to my Contributors page on my personal website (coreyms.com)RecommendedYour Name Listed at the End of My Videos$5   / monthJoinI will now be adding Patron credits to the end of each of my videos where I list all of my current Patrons who support me at this level or higher. The names will be listed with my biggest supporters towards the top. You will also have access to all of the rewards for my lower tiers. In total, you will receive:Your Name Listed at the End of My VideosEarly Access to Videos Be added to my Contributors page on my personal website (coreyms.com)RecommendedBe Featured as a Top Contributor$20   / monthJoinBe featured on every page of my personal website (coreyms.com) as a top contributor. You will also have access to all of the rewards for my lower tiers. In total, you will receive:Be Featured as a Top Contributor on my personal website (coreyms.com)Your Name Listed at the End of My VideosEarly Access to Videos••See all 4 tiersRecent posts by Corey SchaferEnglish (United States)$ USDReport this creator•© 2024 PatreonCreate on PatreonCorey SchaferUnlock 234 postsJoin nowUnlock 234 exclusive posts and join a community of 433 membersStarting at $1  /monthJoin now

# 5) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [158]:
def house(url):
    p=requests.get(url)
    
    if p.status_code==200:
        print('Successful response\n','*'*35)
        
        hsoup=bs(p.content,'html.parser')
        
        title=[]
        location=[]
        area=[]
        rent=[]
        
        for i in hsoup.find_all('a',{'class': 'overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full'}):
                ii=i.get_text(strip=True)
                if ii:
                    title.append(ii)
                else:
                    title.append('NA')
                                
        for i in hsoup.find_all('a',{'class': 'overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full'}):
                ii=i.get_text()
                loc=re.search('Jaya ?nagar|Rajaji ?nagar|Indira ?nagar',ii,re.IGNORECASE)
                if loc:
                    location.append(loc.group())
                else:
                    location.append('NA')
                        
                                              
        for i in hsoup.find_all('div',class_='mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95'):
                ii=i.get_text(strip=True)
                if ii:
                    area.append(ii)
                else:
                    area.append('NA')
                          
            
        for i in hsoup.find_all('div',{'id':'minimumRent'}):
            ii=i.get_text(strip=True)
            iii=re.search(r'₹ *([\d,]+)',ii)
            if iii:
                rent.append(iii.group(1))
            else:
                rent.append('NA')
               
        titles=pd.DataFrame(title,columns=['House title'])
        locations=pd.DataFrame(location,columns=['House location'])
        Area=pd.DataFrame(area,columns=['House area'])
        Rent=pd.DataFrame(rent,columns=['House rent'])
            
        No_broker=pd.concat([titles,locations,Area,Rent], axis=1)
        print('House details from NoBroker: \n')
        display(No_broker)
    
  
    else:
        print('html response not successful')

In [159]:
house('https://www.nobroker.in/property/rent/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTY2MDg3LCJsb24iOjc3LjU0NTQ2MiwicGxhY2VJZCI6IkNoSUpEOUE3MUpBOXJqc1JOeWdnZFU4cDdmWSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIiLCJzaG93TWFwIjpmYWxzZX0seyJsYXQiOjEyLjk5ODE3MzIsImxvbiI6NzcuNTUzMDQ0NTk5OTk5OTksInBsYWNlSWQiOiJDaElKeGZXNERQTTlyanNSS3NOVEctNXBfUVEiLCJwbGFjZU5hbWUiOiJSYWphamluYWdhciIsInNob3dNYXAiOmZhbHNlfV0=&radius=2.0&sharedAccomodation=0&city=bangalore&locality=Indiranagar,Jayanagar,Rajajinagar&isMetro=false')

Successful response
 ***********************************
House details from NoBroker:

,House title,House location,House area,House rent
0,1 BHK House for Rent In Rajajinagar,Rajajinagar,"Independent House, Mahakavi kuvempu metro station","9,000"
1,2 BHK Flat In Sas Residency Jayanagar for Rent...,Jayanagar,23 5th Cross Road,"29,500"
2,1 BHK House for Rent In Rajajinagar,Rajajinagar,"Independent House, Mariyappanapalya Park, Mari...","15,000"
3,3 BHK House for Rent In Jayanagar,Jayanagar,"Independent House, 3rd Main Road","36,000"
4,3 BHK Flat In Ibbani Apartment for Rent In Ja...,Jayanagar,"Old No 321A, New no 31, 3rd floor, 5th cross, ...","53,000"
5,2 BHK House for Rent In Jayanagar 4th 't' Block,Jayanagar,"Independent House, near National Public School...","25,000"
6,1 RK House for Rent In 12th B Main Road,NA,"Independent House, #150, 12 B main road , near...","7,500"
7,3 BHK House for Rent In Jayanagar 5th Block,Jayanagar,"Independent House, DK Naik Nagar, Jayanagar, 9...","34,000"
8,3 BHK Flat In Standaloine Building for Rent I...,Jayanagar,LIC Colony Near City Education Society School,"30,000"
9,1 BHK Flat In Sb for Rent In Rajajinagar,Rajajinagar,"Bhasyam Circle, near MedPlus Bashyam Circle","10,000"
10,"3 BHK House for Rent In 723, 36th A Cross Road",NA,"Independent House, Near Prashanth Yogashraya","40,000"
11,2 BHK House for Rent In Rajajinagar,Rajajinagar,"Independent House, 29B 19th C Main Road","30,000"
12,3 BHK House for Rent In Rajajinagar,Rajajinagar,"Independent House, Nearby Rajajinagar Metro st...","35,000"
13,2 BHK Flat In Nanjundeshwar Nilaya for Lease ...,Rajajinagar,Bhovipalya,NA
14,2 BHK House for Rent In Rajajinagar,Rajajinagar,"Independent House, 4th block 7th main rajajina...","20,000"
15,1 BHK Flat for Rent In Jayanagar,Jayanagar,"Standalone Building, Marenahalli, Near GNR Kal...","8,000"
16,2 BHK House for Rent In Jayanagar,Jayanagar,"Independent House, 36th A Cross Road","30,000"
17,2 BHK Flat In Gurappa Building for Rent In B...,NA,2nd Bloc near RV Teachers College,"15,000"
18,2 BHK Flat for Lease In Basavanagudi,NA,"Standalone Building, Nagasandra Circle, Near ...",800
19,2 BHK House for Lease In Rajaji Nagar,Rajaji Nagar,"Independent House, Navrang theatre",NA
20,3 BHK Flat for Rent In Jayanagar,Jayanagar,"Standalone Building, KR Rd, Tata Silk Farm, Ne...","40,000"
21,1 BHK Flat In Standalone Building for Rent I...,Rajajinagar,D-Block near Mahakavi Kuvempu Metro Station,"5,000"
22,1 BHK House for Rent In Rajajinagar,Rajajinagar,"Independent House, 41st Cross Road near ESI Po...","10,500"
23,2 BHK Flat In Stand Alone Building for Rent ...,Rajaji Nagar,Gayatrinagar near kodandharama temple,"33,000"
24,3 BHK Flat In Shantinilaya for Rent In Rajaji...,Rajajinagar,"16th Cross Rd, Rajaji nagar 1st Block","29,000"
25,1 BHK House for Rent In Rajajinagar,Rajajinagar,"Independent House, Mahakavi kuvempu metro station","9,000"

# 6) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/bestseller?sort=popular .

In [308]:
def bwkf(url):
    k=requests.get(url)
    if k.status_code==200:
        print('HTML response successful!\n','*'*50)
        bsoup=bs(k.content,'html.parser')
        
        pdtname=[]
        pdtimg=[]
        pdtprice=[]
        
        for i in bsoup.find_all('div',class_='productNaming'):
            name=i.find('h2')
            if name:
                pdtname.append(name.text.strip())
                
        
        for i in bsoup.find_all('div',class_='discountedPriceText'):
            pdtprice.append(i.text)
        
        for i in bsoup.find_all('img',class_='productImgTag'):
            pdtimg.append(i['src'])
        
        pdtnames=pd.DataFrame(pdtname,columns=['Product name'])
        pdtprices=pd.DataFrame(pdtprice,columns=['Price'])
        pdtimgs=pd.DataFrame(pdtimg,columns=['Image url'])
        
        bewakoof=pd.concat([pdtnames,pdtprices,pdtimgs],axis=1)
        print('Product details of popular clothing from Bewakoof website: \n')
        return bewakoof
        
    else:
        print('HTML response not successful')

In [309]:
bwkf('https://www.bewakoof.com/bestseller?sort=popular')

HTML response successful!
 **************************************************
Product details of popular clothing from Bewakoof website:

,Product name,Price,Image url
0,Men's White T-shirt,₹499,https://images.bewakoof.com/t640/men-s-white-t...
1,Women's Blue Round in Bugs Graphic Printed Ove...,₹487,https://images.bewakoof.com/t640/women-s-blue-...
2,Men's Black T-Shirts,₹439,https://images.bewakoof.com/t640/men-s-black-t...
3,Women's Brown Cargo Pants,₹1299,https://images.bewakoof.com/t640/women-s-strai...
4,Men's Black T-shirt,₹499,https://images.bewakoof.com/t640/men-s-black-t...
5,Men's Grey Eternity Graphic Printed Oversized ...,₹649,https://images.bewakoof.com/t640/men-s-grey-et...
6,Men's Black Eternity Graphic Printed T-shirt,₹379,https://images.bewakoof.com/t640/men-s-black-e...
7,Women's Black Straight Cargo Pants,₹1499,https://images.bewakoof.com/t640/women-s-black...
8,Women's Blue Straight Cargo Pants,₹1299,https://images.bewakoof.com/t640/women-s-blue-...
9,Men's Black Oversized T-shirt,₹649,https://images.bewakoof.com/t640/men-s-black-o...

# 7) Please visit https://www.cnbc.com/world/?region=world and scrap- a) headings b) date c) News link

In [306]:
def cnbc(url):
    c=requests.get(url)
    if c.status_code==200:
        print('HTML response successful\n','-'*40)
        csoup=bs(c.content)
        
        heading=[]
        link=[]
        date=[]
        
        for i in csoup.find_all('div', class_='RiverHeadline-headline'):
            
            heading.append(i.text.strip())
            
            lk=i.find('a')['href']
            link.append(lk)
            
            dt=re.search(r'(\d{4}/\d{2}/\d{2})',lk)
            if dt:
                date.append(dt.group())
                
            headings=pd.DataFrame(heading,columns=['News heading'])
            links=pd.DataFrame(link,columns=['News link'])
            dates=pd.DataFrame(date,columns=['News date'])
            cnbc_news=pd.concat([headings,links,dates],axis=1)
        print('News details published in CNBC website this week: \n')
        return cnbc_news 
    else:
        print('HTML response NOT successful\n')

In [307]:
cnbc('https://www.cnbc.com/world/?region=world')

HTML response successful
 ----------------------------------------
News details published in CNBC website this week:

,News heading,News link,News date
0,Russia says U.S. defended Kyiv too quickly aft...,https://www.cnbc.com/2024/03/27/ukraine-war-li...,2024/03/27
1,"Want to invest $10,000? Here are 5 ETFs to buy...",/pro/,2024/03/27
2,China's Xi meets U.S. executives as businesses...,https://www.cnbc.com/2024/03/27/chinas-xi-meet...,2024/03/27
3,Mumbai overtakes Beijing to become Asia's bill...,https://www.cnbc.com/2024/03/27/mumbai-overtak...,2024/03/27
4,India's love for gold has done little for its ...,https://www.cnbc.com/2024/03/27/larry-fink-say...,2024/03/27
5,U.S. or Europe – where's best to invest? CNBC ...,/pro/,2024/03/26
6,Nvidia's partners and more: BofA picks key glo...,/pro/,2024/03/27
7,This small Southeast Asian country has 'engine...,https://www.cnbc.com/2024/03/27/singapore-has-...,2024/03/27
8,Trump is selling $60 Bibles with 'God Bless th...,https://www.cnbc.com/2024/03/26/trump-selling-...,2024/03/27
9,"Class bullies may earn more in middle age, stu...",https://www.cnbc.com/2024/03/27/class-bullies-...,2024/03/26
10,"Asia stocks mixed as investors assess China, A...",https://www.cnbc.com/2024/03/27/asia-markets-l...,2024/03/26
11,China opens WTO dispute against U.S. subsidies...,https://www.cnbc.com/2024/03/27/china-opens-wt...,2024/03/26
12,Logistics companies scramble after bridge coll...,https://www.cnbc.com/2024/03/26/logistics-comp...,2024/03/26
13,Cocoa is soaring to records. What it means for...,https://www.cnbc.com/2024/03/26/cocoa-prices-a...,2024/03/26
14,"Apple announces its big annual conference, whe...",https://www.cnbc.com/2024/03/26/apple-announce...,2024/03/26
15,"Apple could double down on China market, Wedbu...",https://www.cnbc.com/2024/03/26/apple-could-do...,2024/03/26
16,Indian bonds are set to be added to global ind...,https://www.cnbc.com/2024/03/26/indian-bonds-a...,2024/03/26
17,How BYD grew from battery maker to electric ve...,https://www.cnbc.com/2024/03/26/how-byd-grew-f...,NaN
18,"Alibaba scraps IPO of logistics unit Cainiao, ...",https://www.cnbc.com/2024/03/26/alibaba-baba-s...,NaN
19,"Bitcoin maintains $70,000, and KuCoin charged ...",https://www.cnbc.com/video/2024/03/26/bitcoin-...,NaN

# 8) Please visit https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded- articles/ and scrap- a) Paper title b) date c) Author

In [294]:
def keai(url):
    j=requests.get(url)
    if j.status_code==200:
        print('HTML response successful\n','-'*40)
        jsoup=bs(j.content)
        
        title=[]
        author=[]
        date=[]
        
        for i in jsoup.find_all('h2',class_='h5 article-title'):
            ii=i.get_text(strip=True)
            title.append(ii)
            
        for j in jsoup.find_all('p',class_='article-date'):
            date.append(j.text)
            
        for k in jsoup.find_all('p',class_='article-authors'):
            author.append(k.text.strip())
            
        if len(author)==len(title)==len(date):
                titles=pd.DataFrame(title,columns=['Article title'])
                authors=pd.DataFrame(author,columns=['Article authors'])
                dates=pd.DataFrame(date,columns=['Pulication date'])
                keai_journals=pd.concat([titles,authors,dates],axis=1)
                print('Most downloaded articles in "Artificial Intelligence in Agriculture" category: \n')
               
                return keai_journals
    
        else:
               print('Columns not equal in size')
    else:
               print('HTML response NOT successful\n')

In [295]:
keai('https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/')

HTML response successful
 ----------------------------------------
Most downloaded articles in "Artificial Intelligence in Agriculture" category:

,Article title,Article authors,Pulication date
0,Implementation of artificial intelligence in a...,Tanha Talaviya | Dhara Shah | Nivedita Patel...,2020
1,A comprehensive review on automation in agricu...,Kirtan Jha | Aalap Doshi | Poojan Patel | M...,June 2019
2,Review of agricultural IoT technology,Jinyuan Xu | Baoxing Gu | Guangzhao Tian,2022
3,Automation and digitization of agriculture usi...,A. Subeesh | C.R. Mehta,2021
4,Real-time hyperspectral imaging for the in-fie...,Zongmei Gao | Yuanyuan Shao | Guantao Xuan |...,2020
5,Applications of electronic nose (e-nose) and e...,Juzhong Tan | Jie Xu,2020
6,Fruit ripeness classification: A survey,Matteo Rizzo | Matteo Marcuzzo | Alessandro ...,March 2023
7,A review of imaging techniques for plant disea...,Vijai Singh | Namita Sharma | Shikha Singh,2020
8,Deep learning based computer vision approaches...,V.G. Dhanya | A. Subeesh | N.L. Kushwaha | ...,2022
9,Comparison of CNN-based deep learning architec...,Md Taimur Ahad | Yan Li | Bo Song | Touhid ...,September 2023
10,Transfer Learning for Multi-Crop Leaf Disease ...,Ananda S. Paymode | Vandana B. Malode,2022
11,DeepRice: A deep learning and deep feature bas...,P. Isaac Ritharson | Kumudha Raimond | X. An...,March 2024
12,Plant disease detection using hybrid model bas...,Punam Bedi | Pushkar Gole,2021
13,How artificial intelligence uses to achieve th...,Vilani Sachithra | L.D.C.S. Subhashini,June 2023
14,Deep convolutional neural network models for w...,A. Subeesh | S. Bhole | K. Singh | N.S. Cha...,2022
15,Machine learning in nutrient management: A review,Oumnia Ennaji | Leonardus Vergütz | Achraf E...,September 2023
16,Machine learning for weed–plant discrimination...,Filbert H. Juwono | W.K. Wong | Seema Verma ...,December 2023
17,A systematic review of machine learning techni...,Md Ekramul Hossain | Muhammad Ashad Kabir | ...,2022
18,Examining the interplay between artificial int...,Abderahman Rejeb | Karim Rejeb | Suhaiza Zai...,2022
19,A review on computer vision systems in monitor...,Cedric Okinda | Innocent Nyalala | Tchalla K...,2020
20,Artificial cognition for applications in smart...,Misbah Pathan | Nivedita Patel | Hiteshri Ya...,2020
21,Explainable artificial intelligence and interp...,Masahiro Ryo,2022
22,Vision Intelligence for Smart Sheep Farming: A...,Galib Muhammad Shahriar Himel | Md. Masudul I...,March 2024
23,Crop diagnostic system: A robust disease detec...,R. Abbasi | P. Martinez | R. Ahmad,December 2023
24,Blockchain: A new safeguard for agri-foods,Jie Xu | Shuang Guo | David Xie | Yaxuan Yan,2020